@font-face {
  font-family: Product;
  src: url(../fonts/ProductSansRegular.ttf);
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
}

:root {
  --speed: 170ms;
}

.login-container {
  height: 100vh;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.login-container .container {
  margin: 20px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 20px 50px 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 450px;
  max-width: 450px;
  border: 1px solid #dbdbdb;
  border-radius: 12px;
}

.login-container .container__header {
  margin: 0 auto;
  text-align: center;
}

.login-container .container__header h2 {
  margin: 0 0 10px 0;
}

.login-container .container__input {
  width: 80%;
  margin: 40px auto 40px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.login-container .container__input .phone-email {
  position: absolute;
  top: 21%;
  left: 10px;
  padding: 0 5px 0 3px;
  color: #dbdbdb;
  pointer-events: none;
  -webkit-transition: var(--speed) ease-in-out;
  transition: var(--speed) ease-in-out;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background: white;
}

.login-container .container__input .phone-email:focus {
  color: red;
}

.login-container .container__input .mock-input {
  border: none;
  outline: none;
  font-size: 1rem;
  padding: 15px 13px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 0 1px #dbdbdb, 0 0 0 1px transparent;
          box-shadow: 0 0 0 1px #dbdbdb, 0 0 0 1px transparent;
  background: white;
  outline: none;
  -webkit-transition: var(--speed) ease-in-out;
  transition: var(--speed) ease-in-out;
}

.login-container .container__input .mock-input::-webkit-input-placeholder {
  -webkit-user-select: none;
          user-select: none;
}

.login-container .container__input .mock-input:-ms-input-placeholder {
  -ms-user-select: none;
      user-select: none;
}

.login-container .container__input .mock-input::-ms-input-placeholder {
  -ms-user-select: none;
      user-select: none;
}

.login-container .container__input .mock-input::placeholder {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.login-container .container__input .mock-input:not(:placeholder-shown) + .phone-email {
  font-size: .75rem;
  -webkit-transform: translateY(-180%);
          transform: translateY(-180%);
  color: #757575;
}

.login-container .container__input .mock-input:focus {
  -webkit-box-shadow: 0 0 0 2px #2b5fee;
          box-shadow: 0 0 0 2px #2b5fee;
}

.login-container .container__input .mock-input:focus + .phone-email {
  font-size: .75rem;
  -webkit-transform: translateY(-170%);
          transform: translateY(-170%);
  color: #2b5fee;
}

.login-container .container img {
  display: inline-block;
  margin: 25px auto;
  width: 80px;
  height: auto;
}

.login-container .container__help {
  margin: auto;
  width: 80%;
}

.login-container .container__help #not-comp {
  font-size: 13px;
}

.login-container .container__help .buttons {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.login-container .container__help .buttons .button a {
  color: white;
  border-radius: 5px;
  padding: 10px 30px;
  background: #2b5fee;
}

a {
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

a:visited {
  color: #2b5fee;
}

a:focus {
  -webkit-box-shadow: 0 0 0 2px rgba(43, 95, 238, 0.1), 0 0 0 100px rgba(43, 95, 238, 0.1) inset;
          box-shadow: 0 0 0 2px rgba(43, 95, 238, 0.1), 0 0 0 100px rgba(43, 95, 238, 0.1) inset;
  border-radius: 2px;
}

.forgot-email {
  margin-top: 7px;
}

.forgot-email a {
  text-decoration: none;
  font-weight: 500;
  font-size: .9rem;
}

@media screen and (max-width: 600px) {
  .login-container .container {
    width: 90%;
    border: unset;
  }
}
/*# sourceMappingURL=login.css.map */