@font-face {
    font-family: Product;
    src: url(../fonts/ProductSansRegular.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    // font-family: Product;
    font-weight: normal;
}

:root {
    --speed: 170ms;
}

.login-container {
    height: 100vh;
    // align-items: center;
    // display: flex;
    display: grid;
    place-items: center;
    .container {
        margin: 20px auto;
        // overflow: visible;
        display: flex;
        padding: 20px 20px 50px 20px;
        flex-direction: column;
        // height: 70%;
        // width: 30%;
        min-width: 450px;
        max-width: 450px;
        border: 1px solid rgb(219, 219, 219);
        border-radius: 12px;
        &__header {
            margin: 0 auto;
            text-align: center;
            h2 {
                margin: 0 0 10px 0;
            }
        }
        &__input {
            width: 80%;
            margin: 40px auto 40px auto;
            display: flex;
            flex-direction: column;
            position: relative;
            .phone-email {
                position: absolute;
                top: 21%;
                left: 10px;
                padding: 0 5px 0 3px;
                color: rgb(219, 219, 219);
                pointer-events: none;
                transition: var(--speed) ease-in-out;
                user-select: none;
                background: white;
                &:focus {
                    color: red;
                }
            }
            .mock-input {
                border: none;
                outline: none;
                font-size: 1rem;
                padding: 15px 13px;
                border-radius: 3px;
                // border: 1px rgb(219, 219, 219) solid;
                box-shadow: 0 0 0 1px rgb(219, 219, 219), 
                            0 0 0 1px transparent;
                background: white;
                outline: none;
                transition: var(--speed) ease-in-out;
                &::placeholder {
                    user-select: none;
                }
                &:not(:placeholder-shown) {
                    +.phone-email {
                        font-size: .75rem;
                        transform: translateY(-180%);
                        color: darken(rgb(219, 219, 219), 40);
                    }
                }
                &:focus {
                    +.phone-email {
                        font-size: .75rem;
                        transform: translateY(-170%);
                        color: rgb(43, 95, 238);
                    }
                    // border: rgb(43, 95, 238) solid 2px;
                    box-shadow: 0 0 0 2px rgb(43, 95, 238);
                }
            }
        }
        img {
            display: inline-block;
            margin: 25px auto;
            width: 80px;
            height: auto;
        }
        &__help {
            margin: auto;
            width: 80%;
            #not-comp {
                font-size: 13px;
            }
            .buttons {
                margin-top: 20px;
                display: flex;
                justify-content: space-between;
                .button {
                    a {
                        color: white;
                        border-radius: 5px;
                        padding: 10px 30px;
                        background: rgb(43, 95, 238);
                    }
                }
            }
        }
    }
}

a {
    transition: 0.2s ease-in-out;
    &:visited {
        color: rgb(43, 95, 238);
    }
    &:focus {
        // background: rgba(43, 95, 238, 0.1);
        box-shadow: 0 0 0 2px rgba(43, 95, 238, 0.1),
                    0 0 0 100px rgba(43, 95, 238, 0.1) inset;
        border-radius: 2px;
        // padding: 2px;
    }
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

.forgot-email {
    margin-top: 7px;
    a {
        text-decoration: none;
        font-weight: 500;
        font-size: .9rem;
    }
}

@media screen and (max-width: 600px) {
    .login-container {
        .container {
            width: 90%;
            border: unset;
        }
    }
}