* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Arial;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 1.5em;
  vertical-align: middle;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15px;
}

.left-items {
  margin-left: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  vertical-align: middle;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.left-items p:nth-child(2) {
  margin-left: 2em;
}

.right-items {
  vertical-align: middle;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 2em;
}

.right-items p {
  margin-right: 2em;
}

.right-items #user-icon {
  border-radius: 200px;
  width: 10%;
  float: right;
  height: auto;
}

.image-search {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 8em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.image-search #break {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.image-search .cont-search {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.image-search .cont-search #search-bar {
  cursor: text;
  font-size: 1em;
  margin-top: 2em;
  vertical-align: middle;
  width: 45%;
  padding: 15px 15px 15px 50px;
  border-radius: 100px;
  text-align: left;
  position: relative;
  outline: none;
  border: solid 1px #ebebeb;
}

.image-search .cont-search #search-bar:hover {
  border: solid 1px transparent;
  -webkit-box-shadow: 0px 2px 10px 0px #ebebeb;
          box-shadow: 0px 2px 10px 0px #ebebeb;
}

.image-search .cont-search #search-bar::before {
  position: absolute;
  content: url(../images/search.svg);
  opacity: 0.4;
  left: 20px;
  width: 21px;
  height: 21px;
  z-index: 3;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 2em;
}

.buttons button {
  margin-left: 0.5em;
  margin-right: 0.5em;
  padding: 12px 22px;
  border-radius: 8px;
  cursor: pointer;
  background: #f4f4f4;
  outline: none;
  border: none;
  color: #757575;
  font-size: 15px;
}

.buttons button:hover {
  -webkit-box-shadow: 0px 0px 0px 1px #a5a5a5 inset, 0px 1px 2px 0px #a5a5a583;
          box-shadow: 0px 0px 0px 1px #a5a5a5 inset, 0px 1px 2px 0px #a5a5a583;
}

@media (max-width: 768px) {
  #search-bar {
    width: 100%;
  }
  .navbar {
    margin: 0;
  }
  .navbar .left-items {
    margin: 0;
  }
  .navbar .right-items {
    margin: 0;
  }
  .navbar .right-items p {
    margin: 10px;
  }
}
/*# sourceMappingURL=main.css.map */