* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    // font-family: 'Roboto', sans-serif;
    font-family: Arial;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 1.5em;
    vertical-align: middle;
    align-items: center;
    font-size: 15px;
}

.left-items {
    margin-left: 2em;
    display: flex;
    flex-wrap: wrap;
    vertical-align: middle;
    align-items: center;
    p:nth-child(2) {
        margin-left: 2em;
    }
}

.right-items {
    vertical-align: middle;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-right: 2em;   
    p {
        margin-right: 2em;
    }
    #user-icon {
        border-radius: 200px;
        width: 10%;
        float: right;   
        height: auto;
    }
}

.image-search {
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 8em;
    display: flex;
    justify-content: center;
    #break {
        flex-basis: 100%;
    }
    .search-icon-before {

    }
    .cont-search {
        width: 100%;
        display: flex;
        justify-content: center;
        #search-bar {
            cursor: text;
            font-size: 1em;
            margin-top: 2em;
            vertical-align: middle;
            width: 45%;
            padding: 15px 15px 15px 50px;
            border-radius: 100px;
            text-align: left;
            position: relative;
            outline: none; border: solid 1px #ebebeb;
            &:hover {
                border: solid 1px transparent;
                box-shadow: 0px 2px 10px 0px #ebebeb;
            }
            &::before {
                position: absolute;
                content: url(../images/search.svg);
                opacity: 0.4;
                // top: 10%;
                left: 20px;
                width: 21px;
                height: 21px;
                z-index: 3;
            }
        }
    }
}

.buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 2em;
    button {
        margin-left: 0.5em; margin-right: 0.5em;
        padding: 12px 22px;
        border-radius: 8px;
        cursor: pointer;
        background: #f4f4f4;
        outline: none; border: none;
        color: #757575;
        font-size: 15px;
        &:hover {
            box-shadow: 0px 0px 0px 1px #a5a5a5 inset,
            0px 1px 2px 0px #a5a5a583;
        }
    }
}

@media (max-width: 768px) {
    #search-bar {
        width: 100%;
    }
    .navbar {
        margin: 0;
        .left-items {
            margin: 0;
        }
        .right-items {
            margin: 0;
            p {
                margin: 10px;
            }
        }
    }
}